  <section>
       <div class="container mt-5 ">
           <div class="ml-auto mt-4">
            <a href="/add-staff" class="btn btn-success ml-auto">Add Staff</a>
        </div>
           <div class="row">
               <div class="col-md-12">
                    <table class="table mt-5">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Position</th>
                    <th scope="col">Ph.no</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {{#each staffs}}
                <tr>
                    <td>{{this.Name}}</td>
                    <td>{{this.Email}}</td>
                    <td>{{this.Position}}</td>
                    <td>{{this.Phone}}</td>
                    <td>
                        <a href="/edit-staff/{{this._id}}" class="btn btn-primary">Edit</a>
                        <a href="/delete-staff/{{this._id}}" onclick="return confirm('are you sure want to delete {{this.Name}} ?')" class="btn btn-danger">Delete</a>
                    </td>
                   
                </tr>
                {{/each}}
            </tbody>
        </table>
               </div>
           </div>
       </div>
    </section>
